<div class="position-sticky pt-3">
  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link active text-white" routerLink="/admin-dashboard">
        <i class="bi bi-speedometer2 me-2"></i> Dashboard
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white" routerLink="/admin-users">
        <i class="bi bi-people me-2"></i> Users
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white" routerLink="/admin-appointments">
        <i class="bi bi-people me-2"></i> Appointments
      </a>
    </li>
   <li class="nav-item">
      <a class="nav-link text-white" routerLink="/admin/prescriptions">
        <i class="bi bi-file-earmark-medical me-2"></i> Prescriptions
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white" routerLink="/medicine-store-settings">
        <i class="bi bi-gear me-2"></i> Medicine Store Settings
      </a>
    </li>
  </ul>
  <hr class="text-white">
  <h6 class="sidebar-heading px-3 text-white text-uppercase">Analytics</h6>
  <ul class="nav flex-column mb-2">
    <li class="nav-item">
      <a class="nav-link text-white" href="#">
        <i class="bi bi-graph-up me-2"></i> Sales
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white" href="#">
        <i class="bi bi-pie-chart me-2"></i> Statistics
      </a>
    </li>
  </ul>
</div>